.firstpage{
    background-image:url(image/IMG_4638_Original\ \(2\).JPG);
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 10%;
    background-size: cover;
}
.firsttext{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%;
}
.journey{
    display: grid;
    grid-template-rows: 12% auto auto;
    grid-template-columns: auto 85% auto;
}
.freelan1{
    display: grid;
    grid-template-columns: auto 700px 500px auto;
    width: 100%;
}
.largeproject{
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 2%;
}
.project{
    display: grid;
    grid-template-columns: auto 560px 560px auto;
}
.protext{
    margin-top: 4%;
    display: grid;
    grid-template-columns: auto 50px 300px 50px auto;
}
.prot{
    display: grid;
    grid-template-rows: 55% auto;
}
.contact{
    display: grid;
    grid-template-columns: 30% auto auto auto 30%;
}
.clickpcc{
    width: 10vw;
    height: 3.5vw;
    background-color: navy;
    position: absolute;
    border-radius: 30px;
    left: 45%;
}
.click{
    width: 192px;
    height: 67.2px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
}
.clickproject{
    width: 153px;
    height: 48px;
    background-color: white;
    border-radius: 30px;
}
.pccjour{
    display: grid;
    grid-template-columns: 20% 340px auto 20%;
    margin-top: 5%;
}
.imgpcc{
    display: grid;
    grid-template-columns: 0px 300px 40px;
    grid-template-rows: 300px 40px;
    height: 300px;
}
.university{
    display: grid;
    grid-template-columns: 20% 340px auto 20%;
    margin-top: 5%;
}
.normalfont{
    font-family: 'Kanit', sans-serif; 
    font-size: 19px; 
    font-weight: 300;
}
#jour2{
    margin-top: 3%;
}
.jour{
    display: grid;
    grid-template-columns: auto 50px 300px 50px auto;
}
.jour1{
    display: grid;
    grid-template-columns: 30% auto 30% auto 30%;
}
.certtext{
    margin-top: 4%;
    display: grid;
    grid-template-columns: auto 50px 370px 50px auto;
}
.line1{
    width: 50px;
    height: 4px;
    background-color: black;
    margin-top:43px ;
}
.certline{
    width: 50px;
    height: 4px;
    background-color: black;
    margin-top:47px ;
}
.awardtext{
    display: grid;
    grid-template-columns:20% auto auto auto 20% ;
    margin-top:10% ;
    background-color: #333;
    padding-bottom: 30px;
}
.award{
    display: grid;
    grid-template-columns:auto 380px 380px 380px auto ;
    grid-template-rows:auto auto;
    background-color: #333;
    padding-bottom: 8%;
    grid-gap: 50px;
}
.awardbox{
    display: grid;
    grid-template-columns:auto 320px auto;
    grid-auto-rows:80px 200px auto;
    width: 380px;
    height: 100%;
    border: 3px solid white;
    padding-bottom: 5%;
}
.certificate{
    display: grid;
    grid-template-columns: auto 1000px auto ;
    grid-template-rows: 2px 170px 170px 170px 170px;
    grid-gap: 60px;
    position: relative;
    margin-bottom: 98px;
}
.certificateback{
    display: grid;
    grid-template-columns: auto 1000px auto ;
    grid-template-rows: 170px 170px 170px 170px;
    position: relative;
    grid-gap: 60px;
    margin-top: 6.5%;
}
.clickblue{
    width: 192px;
    height: 67.2px;
    background-color: orange;
    border-radius: 30px;
    border:none;
}
.clickblueActive{
    width: 192px;
    height: 67.2px;
    background-color: #333;
    border-radius: 30px;
    border:none;
}
.certbox{
    display: grid;
    grid-template-columns: 200px auto 170px;
    background-color: #333 ;
    width: 100%;
    height: 200px;
    overflow: hidden;
    filter: drop-shadow(5px 5px 10px #2C2C2C);
}
.certboxbig{
    display: grid;
    grid-template-columns: 200px auto 170px;
    background-color: #333 ;
    width: 100%;
    height: 220px;
    overflow: hidden;
    filter: drop-shadow(5px 5px 10px #2C2C2C);
}
.certimg{
    padding-left: 15%;
    padding-top:14% ;
    padding-bottom: 14%;
    padding-right: 15%;

}
.certimgbig{
    padding-left: 15%;
    padding-top:18% ;
    padding-bottom: 18%;
    padding-right: 15%;

}
#certback{
    display: none;
    margin-bottom: 40px;
    bottom: 20px;
}
.cert{
    display: grid;
    grid-template-rows: auto;
    border-left: 10px solid orange;
    padding: 3%;
}
.choice1{
    display: grid;
    grid-template-columns: 25% 30% 30% 20% auto;
    grid-column-gap: 4%;
}
.choice2{
    display: grid;
    grid-template-columns: 58% auto auto;
    grid-column-gap: 4%;
}
.choice3{
    display: grid;
    grid-template-columns: 58% auto auto;
    grid-column-gap: 4%;
}
.choice4{
    display: grid;
    grid-template-columns: 30% 25% 25% 25% auto;
    grid-column-gap: 4%;
}
.choice5{
    display: grid;
    grid-template-columns: 30% 25% 25% 25% auto;
    grid-column-gap: 4%;
}
.choice6{
    display: grid;
    grid-template-columns: 30% 25% 45%  auto;
    grid-column-gap: 4%;
}
.choice7{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 4%;
}
.choice8{
    display: grid;
    grid-template-columns: 35% 20% 20% 20% 20%;
    grid-column-gap: 4%;
} 
.choicebox{
    background-color:orange;
    border-radius: 10px;
    height: 30px;
}
.linkcircle{
    width: 50px;
    height: 50px;
    border: white 5px solid;
    border-radius: 50%;
    margin-top: 43%;
    margin-left: 30%;
}
.triangle{
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    height: 17px;
    width: 17px;
    transform: rotate(-45deg);
    margin-top: 26%;
    margin-left: 21%;
}
.shadow
{
    display:block;
    position:relative;
}
.im{
    background-image:url(image/certgoogle.png);
    background-position: 50%;
}
.pointcircle{
    width: 20px;
}

img {
    width: 100%;
    height: 100%;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.7s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.slide {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.7s all ease;
}
.slide.active {
    transform: translateY(0);
    opacity: 1;
}
@media screen and (max-width: 900px) {
    .pccjour{
        display: contents;

    }
    .pccnstimg{
        width: 600px;
        height: 600px;
        position: relative;
        left: 50%;
    }
    .pccnsttext{
        position: relative;
        top: 50%;
    }
    .firstpage{
        width: 1500px;
        height: 3000px;
        background-position: -800px -500px;
    }
    .ftext{
        font-size: 300px;

    }
    
    
}